.datepicker-wrapper {
	.react-datepicker {
		width: 100%;
		border: 0;
		font-family: 'Montserrat', sans-serif;
		color: #333;
		background-color: rgba(255, 192, 0, 1);
		box-shadow: 1px 0 24px rgba(0, 0, 0, 0.2);

		&-wrapper {
			width: 100%;
			margin-bottom: 16px;
		}

		&__navigation {
			top: 12px;
			border: solid black;
			border-width: 0 2px 2px 0;
			display: inline-block;
			padding: 3px;

			&--next {
				right: 16px;
				transform: rotate(-45deg);
			}

			&--previous {
				left: 16px;
				transform: rotate(135deg);
			}
		}

		&__input-container {
			input {
				display: inline-block;
				width: 100%;
				font-family: 'Montserrat', sans-serif;
				font-size: 16px;
				border: 0;
				background-color: #e5e5e5;
				border-radius: 4px;
				padding: 12px 16px;
			}
		}

		&__header {
			border: 0;
			color: #333;
			background-color: rgba(255, 192, 0, 1);
		}

		&__day-names {
			font-weight: 600;
		}

		&__day--selected,
		&__day--in-selecting-range,
		&__day--in-range,
		&__month-text--selected,
		&__month-text--in-selecting-range,
		&__month-text--in-range,
		&__quarter-text--selected,
		&__quarter-text--in-selecting-range,
		&__quarter-text--in-range,
		&__year-text--selected,
		&__year-text--in-selecting-range,
		&__year-text--in-range {
			border-radius: 1rem;
			background-color: #333;
			color: #fff;
		}

		&__day--keyboard-selected,
		&__month-text--keyboard-selected,
		&__quarter-text--keyboard-selected,
		&__year-text--keyboard-selected {
			border-radius: 1rem;
			background-color: #333;
			color: #fff;
		}
	}

	.react-datepicker-popper[data-placement^='bottom'] {
		.react-datepicker__triangle {
			margin-top: -6px;
			border-top: none;
			border-bottom-color: rgba(255, 192, 0, 1);

			&::before {
				border-top: none;
				border-bottom-color: rgba(255, 192, 0, 1);
			}
		}
	}
}
